<div class="container-fluid">
  
<div class="overlay">  
  <header class="py-3 mb-4 border-bottom bg-dark">
    <div class="container d-flex flex-wrap justify-content-center">
      <form class="col-12 col-lg-auto mb-3 mb-lg-0" (ngSubmit)="searchGithub()">
        <div class="form-group d-flex">
          <label for="search"></label>
          <input
            type="search"
            class="form-control"
            placeholder="Search..."
            [(ngModel)]="username"
            name="username"
          />
          <button class="btn btn-primary m-1" type="submit">Search</button>
          <br />
        </div>
        <small class="text-muted m-1">Search for: {{ username }}</small>
      </form>
    </div>
  </header>
  <div
    *ngIf="gitprofile; then populateProfileData; else errorNoGitProfile"
  ></div>
  <ng-template #populateProfileData class="">
    <div class="text-center text-light h2">Search Results...</div>
    <div class="row">
      <div
        class="col-md-6 bg-warning text-light p-3 text-center"
        id="userDetails"
      >
        <h4>Github User id: {{ gitprofile.id }}</h4>
        <h1>{{ gitprofile.name }}</h1>
        <img class="img-fluid" src="{{ gitprofile.avatar_url }}" alt="" />
        <br />

        <p>Followers : {{ gitprofile.followers }} <br /></p>
        <p>Following : {{ gitprofile.following }}</p>
        <p class="text-center">
          <a href="{{ gitprofile.html_url }}">View Account on GitHub</a>
        </p>
      </div>
      <div class="col-sm-12 col-md-6 bg-primary p-3" id="aboutUser">
        <h3 class="text-center">About User</h3>
        <ul>
          <li><span>Github username:</span> {{ gitprofile.login }}</li>
          <li>
            <span>Bio:</span>
            <a href="{{ gitprofile.blog }}" target="blank">
              {{ gitprofile.blog }}</a
            >
          </li>
          <li><span>Company:</span> {{ gitprofile.company }}</li>
          <li>
            <span>Account created on:</span>
            {{ gitprofile.created_at | date }}
          </li>
          <li>
            <span>Account last updated on:</span>
            {{ gitprofile.updated_at | date }}
          </li>
        </ul>
        <br />
      </div>
    </div>   
       <!-- Public repos -->
    
    <div class="text-center repos" id="reps">
        <h2>User Repositories</h2>
        <p class="h4 text-secondary">
          Public Repositories:
          <span class="text-light">{{ gitprofile.public_repos }}</span>
        </p>
      </div>
    <div class="container allrepos">
      <div class="card" *ngFor="let repo of githubrepos" style="width: 22rem;" class="repo">
        <div class="card-body" >
          <h5 class="card-title"><span class="top">Repo Name:</span> &nbsp;{{repo.name}} </h5>
          <div class="card-text">
            <hr>
            <div class="desc"><span class="top">Description:</span> &nbsp;{{repo.description}} 
            </div>
            <hr>           
            <div class="card-subtitle mb-2"><span class="top">Created:&nbsp; <span id="created">{{repo.created_at | datepipe}}</span> &nbsp;  On:</span> &nbsp;{{repo.created_at | date}}
            </div>
          </div>
          </div>
          <div class="card-footer">            
           
            <div class="btn-group" role="group" aria-label="Third group">
              <button class="btn btn-sm btn-success" id="visit"><a href="{{repo.html_url}}" class="card-link">View on GitHub&nbsp; <i class="fa fa-arrow-circle-right" style="font-size:16px"></i></a> </button> 
            </div>
          </div>
      </div>
    </div>
    </ng-template>
</div>
<ng-template #errorNoGitProfile>
  <p class="text-light">User profile not found</p>
</ng-template>
</div>