
<div class="container-fluid">
  <div class="container d-flex flex-wrap justify-content-center">
    <form class="col-12 col-lg-auto mb-3 mb-lg-0" (ngSubmit)="searchGithubRepo()">
      <div class="form-group d-flex">
        <label for="search"></label>
        <input
          type="search"
          class="form-control"
          placeholder="Search..."
          [(ngModel)]="reponame"
          name="reponame"
        />
        <button class="btn btn-primary m-1" type="submit">Search</button>
        <br />
      </div>
      <small class="text-muted m-1">Search for: {{ reponame }}</small>
    </form>
  </div>
  <p>Repos Data</p>
  <div *ngIf="ExistingRepos; then RepoData; else errorNoRepoData"></div>
  <ng-template #RepoData class="">
  
    <div class="container">
        <div class="container allrepos">
            <div class="card" appHighlight *ngForof="let repo of ExistingRepos" style="width: 22rem;" class="repo">
              <div class="card-body">
                <h5 class="card-title">Repo Name: &nbsp;{{repo.name}} </h5>
                <div class="card-text">
                  <hr>
                  <div class="desc"><span class="top">Description:</span> &nbsp;{{repo.description}} 
                  </div>
                  <hr>
                  
                  <div class="card-subtitle mb-2"><span class="top">Created On:</span> &nbsp;{{repo.created_at | date}}</div>
                </div>
                </div>
                <div class="card-footer">              
                  
                  <div class="btn-group" role="group" aria-label="Third group">
                    <button class="btn btn-sm btn-success" id="visit"><a href="{{repository.html_url}}" class="card-link">View Repo On Github&nbsp; <i class="fa fa-arrow-circle-right" style="font-size:16px"></i></a> </button> 
                  </div>
                </div>
            </div>
          </div>
    </div>
  </ng-template>

  <ng-template #errorNoRepoData> "No Repo Data" </ng-template>
</div>